<p-table
    [value]="codes"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[10, 25, 50]"
    [columns]="columns" [value]="codes"
    #dt
>
<ng-template pTemplate="caption">
    <div class="flex">
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text mr-3"></p-button>
    <button styleClass="ml-3" type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
    <!-- <p-button styleClass="ml-3" label="Crear codigo" (click)="showDialog()"></p-button>
    <p-button styleClass="ml-3" severity="danger" label="Borrar codigos" (click)="showDialogDeleteCodes()"></p-button> -->
    </div>
</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">Id</th>
            <th style="width:20%">Usuario</th>
            <th style="width:20%">Codigo</th>
            <th style="width:20%">Estado</th>
            <th style="width:20%">Fecha</th>
            <th style="width:20%">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-code>
        <tr>
            <td>{{ code.id }}</td>
            <td *ngIf="code.userName != null">{{ code.userName }}</td>
            <td *ngIf="code.userName == null"><p-tag styleClass="mr-2 text-center" severity="warning" value="No asignado"></p-tag></td>
            <td>{{ code.name }}</td>
            <td *ngIf="code.used == 0"><p-tag styleClass="mr-2 text-center" severity="success" value="sin redimir"></p-tag></td>
            <td *ngIf="code.used == 1"><p-tag styleClass="mr-2 text-center" severity="danger" value="redimido"></p-tag></td>
            <td>{{ code.date }}</td>
            <td><p-button severity="danger" [disabled]="code.used ? true : false" label="Borrar" (click)="deleteCode(code.id,code.name)"></p-button></td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Creacion de codigos" [(visible)]="visible" [style]="{width: '30vw'}">
    <div class="flex flex-column gap-2">
        <label htmlFor="username">Cantidad Codigos</label>
        <input pInputText type="number" [(ngModel)]="valueCodeGenerate" maxlength="2" />
        <small id="username-help">Ingrese la cantidad de codigos que quiere generar</small>
    </div>
    
    <p-button styleClass="mt-3" label="Crear" icon="pi pi-ticket" size="small" (onClick)="createCodes()"></p-button>
</p-dialog>

<p-dialog header="Eliminar Codigos" [(visible)]="visibleDeleteCodesModal" [style]="{width: '30vw'}">
    <div class="flex flex-column gap-2">
        <label>¿Esta seguro de eliminar los codigos?</label>
        <small>Se eliminara todos los codigos que no han sido asignados</small>
    </div>
    <p-button styleClass="mt-3" severity="danger" label="Eliminar" icon="pi pi-trash" size="small" (onClick)="deleteAllCodes()"></p-button>
</p-dialog>

