/* You can add global styles to this file, and also import other style files */
.backgroundCustom{
    background-color: #ffffff !important;
}

body{
    background-color: #dce0e6 !important;
    margin: 0px;
}

.p-dialog-mask {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Ajusta la opacidad según tus necesidades */
    transition: background 0.5s ease;
}

.closeSesion{
    position: absolute;
    top: 5px; 
    right: 40px;
}